*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70%;
    display: flex;
    gap: 5%;
    flex-direction: column;
    margin-bottom: 8%;
    box-shadow: 0 0 4px #f1e8e8;
    padding: 15px;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.head h3 {
    font-size: 30px;
    font-weight: 600;
}

.head p{
    font-size: 15px;
    color: rgb(94, 90, 85);
}

.head span{
    padding: 2px 12px;
    border-radius: 9px;
    background-color: rgb(2, 0, 117);
    font-size: 18px;
    color: #fff;
}

.notifications{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

.notice {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.text span{
    width: fit-content;
    text-wrap: nowrap;
    font-size: 15px;
    font-weight: bold;
}

.text img{
    display: flex;
}

.notice img{
    width: 40px;
}

#none{
    display: none;
    margin-top: 15px;
    width: 80%;
}

#none.active{
    display: flex;
}

#notice{
    background-color: bisque;
    border-radius: 13px;
    padding: 9px;
    display: flex;
    justify-content: space-between;
}

#notice.click{
    background-color: #fff;
}
#notice.click::after{
    display: none;
}

.all{
    cursor: pointer;
}

#notice::after{
    content: '';
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 100%;
    position: relative;
    top: -20%;
}

.h{
    display: flex;
    gap: 7px;
}